<h1>Burgers for You!</h1>

<h2>Burgers ready to eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> cats/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> cats/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">ADD a Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devour?</label><br>
    <input type="radio" name="devour" value="1" checked> Devour!<br>
    <input type="radio" name="devour" value="0"> Put it on the grill
  </div>

  <button type="submit">Add Burger</button>
</form>
